*
 {
   padding:0px;
   margin: 0px;

}


body {
	font-family: helvetica, arial, sans-serif;
  text-align:center;
  font-size: 25px;
 background-image: url("background.jpg");
}
.parallax{
 background-image: url("background.jpg");
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/* container */

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/* items */

.item {
	height: 200px;
	width: 200px;
	background: #d5bdcb;
	color: white;
	margin: 10px auto;
	padding: 10px;
	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: cell;
  border-radius: 40px;
  border-style: dotted;
  border-color: #e8dbca;

}

/* rotate */
#element-1:hover {
	transform: rotate(360deg) scale(1.5);
  margin-top:100px;
  margin-bottom:100px;
  cursor: grab;

}
#element-1:active {
	background: #ef5757;
	opacity: 1;

}

/* show text */

#element-2::after {
	content: '';
	color: white;
}
#element-2:hover::after {
	content: ' woah, words';
	color: white;
  font-size:50px;
}

/* example element 4 */
#element-4.gradient-background {
	background: linear-gradient(blue, pink);
	color: transparent;
}

/* example element 5 */
.circle {
	border-radius: 125px;
  background: linear-gradient(#6e4557,  #edabc5);

}

/* effect another */
#element-6{
	transition: none;
  align-font:center;
  cursor: grab;
}


/* spint reveal text */
#element-8:hover {
	transform:rotate(360deg) scale(3);
  margin-top:220px;
  margin-bottom:220px;
background: #63354e;
  border-radius: 100px;
}
#element-8:active {
	opacity: 1;

}
#element-8::after {
	content: '';
	color: white;
}
#element-8:hover::after {
	content: 'grape';
	color: black;
  font-size:50px;
}


/* skew */
#element-10:hover {
	transform: rotate(360deg) scale(1.5);
background: #8f5970;
  margin-top:100px;
  margin-bottom:100px;
  border-radius: 100px;
}
#element-10:active {
	background: #8f5970;
	opacity: 1;
  transform: skew(20deg);
}
#element-11:hover {
	transform: rotate(360deg) scale(1.5);
background: #ef5757;
  margin-top:100px;
  margin-bottom:100px;
transform: skew(60deg);
}
#element-10:active {
	background: #c1c5ba;
	opacity: 1;
  transform: skew(20deg);
}

/* click fade */
#element-13:hover {
	transform: scaleX(1.5);
  transition: 2s;
  overflow: hidden;
  border-radius: 100px;
  cursor: grab;
}
#element-13:active {
	background: #8f5970;
	opacity: 1;
  filter: blur(20px);

}


/* grey move down */
#element-new1:hover {
  margin-top:100px;
  margin-bottom:100px;
  filter: grayscale(100%);

}
#element-new1:active {
  transform: scaleY(0px);

}


/* scroll */
#element-new2 {
    transition: all 1000ms ease-in;
     overflow:auto;
}
#element-new2:hover {
	color: white;
  background-color: #f5efef;
  transition: 2s;
}
#element-new2:active{
	color: white;
  font-size:50px;

}
#scroller {
/* make this box wider than the
  scrollable box its inside of  */
  width:500px;
  color:white;
  font-size:30px;
  cursor:pointer;
}


/* click fade */
#element-new3:hover {
  transition: 2s;
  overflow: hidden;
  border-radius: 100px;
  cursor: grab;
}
#element-new3:active {
	opacity: 1;
  filter: contrast(20);
  transition: 10s;

}


/* cursor change */
#element-new4:hover {
  transition: 2s;
  overflow: hidden;
  border-radius: 100px;
  cursor: help;

}
#element-new4:active {
	opacity: 1;
  transition: 10s;
}


/* hover disapear */
#element-new5:hover {
  transition: 1s;
  opacity: 0;
}
#element-new5:active {
	opacity: 1;

}


/* kerning */
#element-new6 {
    transition: all 1000ms ease-in;
     overflow:auto;
     letter-spacing: 0px;
}
#element-new6:hover {
	color: white;
  transition: 1s;
  letter-spacing: 5px;
}
#element-newx6:active{
  font-size:50px;

}

/* crossout */
#element-new7 {
    transition: all 1000ms ease-in;
     overflow:auto;
     letter-spacing: 5px;
     text-decoration-line: none;
     font-size: 80px;

}
#element-new7:hover {
	color: white;
  transition: 1s;
  text-decoration-line: line-through;
  background-color: #d14156;
  cursor: grab;
}
#element-new7:active{
  font-size:50px;

}


/* verticle text */
#element-new8 {
    transition: all 1000ms ease-in;
     overflow:auto;
     letter-spacing: 5px;
    writing-mode: none;
     font-size: 80px;}
#element-new8:hover {
	color: white;
  transition: 1s;
writing-mode: vertical-rl;
}
#element-new8:active{
  font-size:50px;
  writing-mode: vertical-rl;
}

/* shadow */
#element-new9:hover {
  transition: 1s;
  filter: drop-shadow(20px 8px 4px grey);
  transform: scale(1.25);
}
#element-new9:active{
  font-size:50px;
}


/* flip */
#element-new10:hover {
  transition: 1s;
  	-webkit-animation: flip-diagonal-2-br 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  	        animation: flip-diagonal-2-br 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;}
#element-new10:active{
  font-size:50px;}
@-webkit-keyframes element-new10:hover {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
            transform: rotate3d(-1, 1, 0, 180deg);
  }
}
@keyframes flip-diagonal-2-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
            transform: rotate3d(-1, 1, 0, 180deg);
  }
}


/* spin around */
#element-new11:hover {
  transition: 1s;
  -webkit-animation: element-new11 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: element-new11 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}
#element-new11:active{
  font-size:50px;
}

@-webkit-keyframes element-new11 {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) translateZ(-260px) rotateY(180deg);
            transform: translateX(100%) translateZ(-260px) rotateY(180deg);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes element-new11 {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) translateZ(-260px) rotateY(180deg);
            transform: translateX(100%) translateZ(-260px) rotateY(180deg);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}


/* raise up */
#element-new12:hover {
  transition: 1s;
	-webkit-animation: element-new12 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: element-new12 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
}
#element-new12:active{
  font-size:50px;
}
@-webkit-keyframes selement-new12 {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes element-new12 {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}


/* flipity around */
#element-new13:hover {
  transition: 1s;
	-webkit-animation: element-new13 0.5s linear both;
	        animation: element-new13 0.5s linear both;
}
}
#element-new13:active{

}
  @-webkit-keyframes element-new13 {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
            transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
            transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes element-new13 {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
            transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
            transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}


/* flipity up */
#element-new14:hover {
  -webkit-animation: element-new14 0.7s linear both;
	        animation: element-new14 0.7s linear both;
}
#element-new14:active{
  font-size:50px;}
  @-webkit-keyframes element-new14 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}
@keyframes element-new14 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}


/* new15 */
#element-new15:active {
  cursor: grab;
  transition: 1s;
  margin-top: 300px;
  margin-bottom: 300px;

  -webkit-animation: element-new15 1.1s both;
  	        animation: element-new15 1.1s both;
}
}

  @-webkit-keyframes element-new15 {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes element-new15 {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }


}

/* spooky scary */
#element-new16:hover {
-webkit-animation: flicker-in-1 1s linear infinite both;
	        animation: flicker-in-1 1s linear infinite both;
    content: '';}
    #element-new16:hover:after {
      background-color: red;
    	content: ' spooky scary';
      color: black;}
          @-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
    x
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



/* inner shadow */
#element-new17:hover {

  -webkit-animation: element-new17 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: element-new17 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes element-new17 {
  0% {
    box-shadow: inset 0 0 0 0 #804d50);
  }
  100% {
    box-shadow: inset 0 0 100px 0px #804d50;
  }
}
@keyframes element-new17 {
  0% {
    box-shadow: inset 0 0 0 0 #804d50;
  }
  100% {
    box-shadow: inset 0 0 100px 0px #804d50;
  }
}


/* roll in from left*/
#element-new18:active {
  cursor: grab;
  -webkit-animation: element-new18 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  	        animation: element-new18 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes element-new18 {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes element-new18 {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* vibrations */
#element-new19:hover {
  cursor: grab;}
#element-new19:active {
  cursor: grab;
  background: #ced1c8;
  -webkit-animation: element-new19 0.5s linear infinite both;
  	        animation: element-new19 0.5s linear infinite both;
}
@-webkit-keyframes element-new19 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  20% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  50% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  70% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  80% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  90% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes element-new19 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -2px);
  }
  20% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  30% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  50% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  70% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  80% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  90% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


/* fling back */
#element-new20:hover {
  cursor: grab;

  -webkit-animation: element-new20 0.7s ease-in both;
  	        animation: element-new20 0.7s ease-in both;

}
@-webkit-keyframes element-new20 {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes element-new20 {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

/* fling back */
#element-new21:active {
  cursor: grab;
  -webkit-animation: element-new21 0.5s ease-in both;
	        animation: element-new21 0.5s ease-in both; }
          @-webkit-keyframes element-new21 {
  0% {  -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
    opacity: 1;}
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;}
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;}
}
@keyframes element-new21 {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    opacity: 1;  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;}}

/* the dots */
#element-new22:active{
    border: 90px dotted white;
    transition: 3s;
}
