*
 {
   padding:0px;
   margin: 0px;}

  body{ background-color: white;
        height:100vh;
        width:100vw;
      }
      .first {
  background:white;
  background-size: cover;
  height: 100vh;
  width:100vw;
  position: relative;
}


.centerstuff{
  height:100vh;
   display: grid;
   align-items:center;
   justify-content:center;
}



.low {
  top: 65px;
}

.hlow {
  top: 30px;
}

    .hollowcircle{
             width: 25px;
             box-sizing: content-box;
             height: 25px;
             background: white;
             border-color: black;
             border-style: solid;
             border-width: 30px 30px 30px 30px;
             border-radius: 100%;
             position: absolute;
           }

.quartercircle {
    clip-path: inset(0 50px 50px 0);
}
.quartercircle{

                position:absolute;
                width:30px;
                height:30px;
                border-radius:50%;
              }

              .upl{
                transform: rotate(-90deg);
              }

      .halfcircle{
              content:'';
              position:absolute;
              width:30px;
              height:30px;
              border:30px solid transparent;
              border-top-color:black;
              border-right-color:black;
              transform:rotate(-135deg);
              border-radius:50%;

            }
                .up{
                    transform: rotate(-45deg);
                  }
                  .down{
                        transform: rotate(-225deg);
                  }
                  .downhalf{
                        transform: rotate(-180deg);
                  }
                  .downy{
                        transform: rotate(-225deg);
                        margin-top: -30px;
                  }
                  .side{
                        transform: rotate(405deg);
                  }
                  .double{
                      margin-left: 60px;
                        transform: rotate(-45deg);
                    }
                    .doubledown{
                        margin-left: 60px;
                          transform: rotate(-225deg);
                      }
                    .downright{
                          transform: rotate(-225deg);
                          margin-left: 35px;
                    }
                    .xright{
                      margin-left: 30px;
                      }
                      .v{
                        margin-top: 25px;

                        }





    .circle{
      width: 30px;
      height: 30px;
      border-radius: 100px;
      position: absolute;
      background-color: black;
    }


    .number {
      position:relative;
      height:70px;
      width:70px;
      float:left;
      margin-right: 90px;
      margin-top: 90px;
    }



    .letter {
      position:relative;
      height:150px;
      width:115px;
      float:left;
      margin-right: 50px;
      margin-bottom: 100px;
    }

            .letter.w {
              width:160px;
            }
            .letter.c {
              width:60px;
            }
            .letter.f {
              width:65px;
              margin-right: 65px;
            }
            .letter.h {
              width:65px;
              margin-left:-55px;
            }
            .letter.small{
              width: 90px;
            }


            .ctop {
              left: 30px;
              top: 60px;
            }
            .cbottom {
              left: 30px;
              top: 120px;
            }
                  .fleft {
                    left: 0px;
                    top: 30px;
                  }
                  .fmiddle {
                    left: 30px;
                    top: 65px;
                  }
                  .emiddle {
                    left: 60px;
                    top: 90px;
                  }
                  .fright {
                    left: 60px;
                    top: 30px;
                  }
                  .gleft {
                    left: 0px;
                    top: 90px;
                  }
                  .gright {
                    left: 60px;
                    top: 90px;
                  }

                  .gmiddle {
                    left: 85px;
                    top:0px;
                  }
                  .hright {
                    left: 60px;
                    top: 90px;
                  }
                  .hleft {
                    left: 0px;
                    top: 90px;
                  }
                  .htop {
                    left: 0px;
                    top: -30px;
                  }

                  .itop {
                    left: 30px;
                    top: 23px;
                  }
                  .jtop {
                    left: 60px;
                    top: 40px;
                  }
                  .jdot {
                    left: 60px;
                    top: 55px;
                  }
                  .ktop {
                    left: 55px;
                    top: 60px;
                  }
                  .kbottom {
                    left: 55px;
                    top: 120px;
                  }
                  .lbottom {
                    left: 25px;
                    top: 119px;
                  }
                  .ltop {
                    left: 1px;
                    top: 96px;
                  }


                  .mright {
                    left: 120px;
                    top: 90px;
                  }
                  .mbright {
                    left: 120px;
                    top: 125px;
                  }
                  .mlleft {
                    left: 0px;
                    top: 125px;
                  }
                  .nright{
                    left: 60px;
                    top: 125px;
                  }
                  .qleft {
                    left: 35px;
                    top: 90px;
                  }
                  .qright {
                    left: 95px;
                    top: 90px;
                  }
                  .sleft {
                    left: 0px;
                    top: 90px;
                  }
                  .sright {
                    left: 60px;
                    top: 90px;
                  }
                  .smiddle {
                    left: 30px;
                    top: 60px;
                  }
                  .sbottom {
                    left: 35px;
                    top: 119px;
                  }
                  .stop {
                    left: 59px;
                    top: 96px;
                  }


                  .uright{
                    left: 60px;
                    top: 55px;
                  }
                  .uleft{
                    left: 0px;
                    top: 55px;
                  }
                  .vright {
                    left: 60px;
                    top: 55px;
                  }
                  .vleft {
                    left: 0px;
                    top: 55px;
                  }
                  .wright {
                    left: 120px;
                    top: 55px;
                  }
                  .wleft {
                    left: opx;
                    top: 55px;
                  }
                  .xtop {
                    top: 1200px;
                    left: 60px;
                  }
                  .xbottom {
                    left: 60px;
                    top: 120px;
                  }
                  .xtopl {
                    left: 0px;
                    top: 60px;
                  }
                  .xtopr {
                    left: 60px;
                    top: 60px;
                  }
                  .yright {
                    left: 60px;
                    top: 30px;
                  }
                  .yleft {
                    left: 0px;
                    top: 30px;
                  }
                  .vdot {
                    left: 30px;
                    bottom: 0px;
                  }
/* NUMBERS */
                  .threetop {
                    left: 26px;

                  }
                  .threeright {
                    left: 50px;
                    top: 35px;
                  }
                  .threeleft {
                    left: 2px;
                    top: 35px;
                  }

                  .fourbottom {
                    left: 27px;
                    top: 60px;
                  }
                  .fourleft {
                    left: 0px;
                    top: 30px;
                  }
                  .fourright {
                    left: 53px;
                    top: 30px;
                  }

                  .fivemiddle {
                    left: 25px;
                    top: 40px;
                  }
                  .fivebottom {
                    left: 25px;
                    top: 80px;
                  }
                  .fiveleft {
                    left: -15px;
                    top: 40px;
                  }
                  .fiveright {
                    left: 65px;
                    top: 40px;
                  }

                  .sixtop {
                    left: 20px;
                    top: -35px;
                  }
                  .sixbottom {
                    left: 20px;
                    top: 75px;
                  }
                  .seventl {
                    left: -10px;
                    top: 0px;
                  }
                  .seventlr {
                    left: 60px;
                    top: 20px;
                  }
                  .sevenbl {
                    left: -10px;
                    top: 60px;
                  }
                  .sevenblr {
                    left: 60px;
                    top: 60px;
                  }
                  .seventl {
                    left: -10px;
                    top: 20px;
                  }
                  .eightleft {
                    left: -35px;
                    top: 20px;
                  }
                  .eightright {
                    left: 75px;
                    top: 20px;
                  }
                  .nineleft {
                    left: 5px;
                    top: 5px;
                  }
                  .nineright {
                    left: 45px;
                    top: 5px;
                  }
                  .bnineleft {
                    left: 5px;
                    top: 75px;
                  }
                  .bnineright {
                    left: 45px;
                    top: 75px;
                  }
                  .ninetop {
                    left: 25px;
                    top: -30px;
                  }
                  .ninebottom {
                    left: 25px;
                    top: 110px;
                  }




    .top {
      top:0;
    }
    .bottom {
      bottom:0;
    }
    .right {
      right:0;
    }
    .left {
      left:0;
    }
    .lefty {
      left:-30px;
    }






/* Panda Animation */

/* P */
        .animatedTitle .hollowcircle {
          animation: fadeIn 800ms ease-in-out;
          animation-delay: 30000ms;
          opacity: 0;
          animation-fill-mode: forwards;
        }

                @keyframes fadeIn {
                  from {
                    opacity: 0;
                  }
                  to {
                    opacity: 1;
                  }
                }
                .animatedTitle .halfcircle{
                  animation: fadeIn 800ms ease-in-out;
                  animation-delay: 30000ms;
                  opacity: 0;
                  animation-fill-mode: forwards;
                }

                        @keyframes fadeIn {
                          from {
                            opacity: 0;
                          }
                          to {
                            opacity: 1;
                          }
                        }
                .animatedTitle .hleft{
                  animation: fadeIn 800ms ease-in-out;
                  animation-delay: 30000ms;
                  opacity: 0;
                  animation-fill-mode: forwards;
                }

                        @keyframes fadeIn {
                          from {
                            opacity: 0;
                          }
                          to {
                            opacity: 1;
                          }
                        }
                    .animatedTitle .hright{
                      animation: fadeIn 800ms ease-in-out;
                      animation-delay: 30000ms;
                      opacity: 0;
                      animation-fill-mode: forwards;
                    }

                            @keyframes fadeIn {
                              from {
                                opacity: 0;
                              }
                              to {
                                opacity: 1;
                              }
                            }

/* Alphabet Animation */


/* top P */
        .animatedTitle .dot1 {
          animation: dot1move 600ms ease-in-out;
          animation-delay: 18000ms;
            animation-fill-mode: backwards;
        }


            @keyframes dot1move {
              from {
                transform: translate(325px, -40px);
              }
              to {
                transform: translate(0, 0);
              }
            }

/* Lower P */
                    .animatedTitle .dot2 {
                      animation: dot2move 600ms ease-in-out;
                      animation-delay: 18000ms;
                      animation-fill-mode: backwards;
                    }


              @keyframes dot2move {
                from {
                  transform: translate(290px, -140px);
                }
                to {
                  transform: translate(0, 0);
                }
              }
/* 1st A */
              .animatedTitle .dot3 {
                animation: dot3move 600ms ease-in-out;
                animation-delay: 18000ms;
                animation-fill-mode: backwards;
              }


                  @keyframes dot3move {
                    from {
                      transform:translate(75px, -55px);
                    }
                    to {
                      transform: translate(0, 0);
                    }
                  }


  /* 1st N */
                    .animatedTitle .dot4 {
                      animation: dot4move 600ms ease-in-out;
                      animation-delay: 18000ms;
                      animation-fill-mode: backwards;
                    }


                        @keyframes dot4move {
                          from {
                            transform:  translate(-48.25px,-21.406px);;
                          }
                          to {
                            transform: translate(0, 0);
                          }
                        }
  /* 2nd N */
                    .animatedTitle .dot5 {
                      animation: dot5move 600ms ease-in-out;
                      animation-delay: 18000ms;
                      animation-fill-mode: backwards;
                    }


                        @keyframes dot5move {
                          from {
                            transform: translate(-156.406px, -18.25px);
                          }
                          to {
                            transform: translate(0, 0);
                          }
                        }
/* Top D */
                  .animatedTitle .dot6 {
                    animation: dot6move 600ms ease-in-out;
                    animation-delay: 18000ms;
                    animation-fill-mode: backwards;
                  }


                      @keyframes dot6move {
                        from {
                          transform: translate(-210px,-10px);
                        }
                        to {
                          transform: translate(0, 0);
                        }
                      }
/* Bottom D */
                  .animatedTitle .dot7 {
                    animation: dot7move 600ms ease-in-out;
                    animation-delay: 18000ms;
                    animation-fill-mode: backwards;
                  }


                      @keyframes dot7move {
                        from {
                          transform: translate(-190px, -95px);
                        }
                        to {
                          transform: translate(0, 0);
                        }
                      }
  /* Last A */
                    .animatedTitle .dot8 {
                      animation: dot8move 600ms ease-in-out;
                      animation-delay: 18000ms;
                      animation-fill-mode: backwards;
                    }


                        @keyframes dot8move {
                          from {
                            transform: translate(-325px, -70px);
                          }
                          to {
                            transform: translate(0, 0);
                          }
                        }

/*
.dot1 {transform: translate(338.594px, -61.75px);}
.dot2 {transform: translate(340.406px, -16.75px);}
.dot3 {transform: translate(84.406px, -18.25px);}
.dot4 {transform: translate(-48.25px,-21.406px);}
.dot5 {transform: translate(-156.406px, -18.25px);}
.dot6 {transform: translate(-212.594px, 84.75px);}
.dot7 {transform: translate(-152.594px, -43.25px);}
.dot8 {transform: translate(-280px, -18.25px);}*/
