*
 {
   padding:0px;
   margin: 0px;}

  body{ background-color: white;
        height:100vh;
        width:100vw;
      }
      .first {
  background:white;
  background-size: cover;
  height: 100vh;
  width:100vw;
  position: relative;
}


.centerstuff{
  height:100vh;
   display: grid;
   align-items:center;
   justify-content:center;
}



.low {
  top: 55px;
}

    .hollowcircle{
             width: 25px;
             box-sizing: content-box;
             height: 25px;
             background: white;
             border-color: black;
             border-style: solid;
             border-width: 30px 30px 30px 30px;
             border-radius: 100%;
             position: absolute;
           }

.quartercircle {
    clip-path: inset(0 50px 50px 0);
}
.quartercircle{

                position:absolute;
                width:30px;
                height:30px;
                border-radius:50%;
              }

              .upl{
                transform: rotate(-90deg);
              }

      .halfcircle{
              content:'';
              position:absolute;
              width:30px;
              height:30px;
              border:30px solid transparent;
              border-top-color:black;
              border-right-color:black;
              transform:rotate(-135deg);
              border-radius:50%;

            }
                .up{
                    transform: rotate(-45deg);
                  }
                  .down{
                        transform: rotate(-225deg);
                  }
                  .downy{
                        transform: rotate(-225deg);
                        margin-top: -30px;
                  }
                  .side{
                        transform: rotate(405deg);
                  }
                  .double{
                      margin-left: 60px;
                        transform: rotate(-45deg);
                    }
                    .doubledown{
                        margin-left: 60px;
                          transform: rotate(-225deg);
                      }
                    .downright{
                          transform: rotate(-225deg);
                          margin-left: 35px;
                    }
                    .xright{
                      margin-left: 30px;
                      }
                      .v{
                        margin-top: 25px;

                        }





    .circle{
      width: 30px;
      height: 30px;
      border-radius: 100px;
      position: absolute;
      background-color: black;
    }


    .number {
      position:relative;
      height:70px;
      width:70px;
      float:left;
      margin-right: 90px;
      margin-top: 90px;
    }



    .letter {
      position:relative;
      height:150px;
      width:115px;
      float:left;
      margin-right: 50px;
      margin-top: 0px;
    }

            .letter.w {
              width:160px;
            }
            .letter.c {
              width:60px;
            }
            .letter.f {
              width:65px;
              margin-right: 65px;
            }
            .letter.h {
              width:65px;
              margin-left:-55px;
            }
            .letter.small{
              width: 90px;
            }


            .ctop {
              left: 30px;
              top: 60px;
            }
            .cbottom {
              left: 30px;
              top: 120px;
            }
                  .fleft {
                    left: 0px;
                    top: 30px;
                  }
                  .fmiddle {
                    left: 30px;
                    top: 65px;
                  }
                  .emiddle {
                    left: 60px;
                    top: 90px;
                  }
                  .fright {
                    left: 60px;
                    top: 30px;
                  }
                  .gleft {
                    left: 0px;
                    top: 90px;
                  }
                  .gright {
                    left: 60px;
                    top: 90px;
                  }

                  .gmiddle {
                    left: 95px;
                    top:0px;
                  }
                  .hright {
                    left: 60px;
                    top: 90px;
                  }
                  .hleft {
                    left: 0px;
                    top: 90px;
                  }

                  .itop {
                    left: 30px;
                    top: 23px;
                  }
                  .jtop {
                    left: 60px;
                    top: 40px;
                  }
                  .jdot {
                    left: 60px;
                    top: 55px;
                  }
                  .ktop {
                    left: 55px;
                    top: 60px;
                  }
                  .kbottom {
                    left: 55px;
                    top: 120px;
                  }
                  .mright {
                    left: 120px;
                    top: 90px;
                  }
                  .mbright {
                    left: 120px;
                    top: 125px;
                  }
                  .mlleft {
                    left: 0px;
                    top: 125px;
                  }
                  .nright{
                    left: 60px;
                    top: 125px;
                  }
                  .qleft {
                    left: 35px;
                    top: 90px;
                  }
                  .qright {
                    left: 95px;
                    top: 90px;
                  }
                  .sleft {
                    left: 0px;
                    top: 90px;
                  }
                  .sright {
                    left: 60px;
                    top: 90px;
                  }
                  .smiddle {
                    left: 30px;
                    top: 60px;
                  }
                  .uright{
                    left: 60px;
                    top: 55px;
                  }
                  .uleft{
                    left: 0px;
                    top: 55px;
                  }
                  .vright {
                    left: 60px;
                    top: 55px;
                  }
                  .vleft {
                    left: 0px;
                    top: 55px;
                  }
                  .wright {
                    left: 120px;
                    top: 55px;
                  }
                  .wleft {
                    left: opx;
                    top: 55px;
                  }
                  .xtop {
                    top: 1200px;
                    left: 60px;
                  }
                  .xbottom {
                    left: 60px;
                    top: 120px;
                  }
                  .xtopl {
                    left: 0px;
                    top: 60px;
                  }
                  .xtopr {
                    left: 60px;
                    top: 60px;
                  }
                  .yright {
                    left: 60px;
                    top: 30px;
                  }
                  .yleft {
                    left: 0px;
                    top: 30px;
                  }
                  .vdot {
                    left: 30px;
                    bottom: 0px;
                  }
/* NUMBERS */
                  .threetop {
                    left: 26px;

                  }
                  .threeright {
                    left: 50px;
                    top: 35px;
                  }
                  .threeleft {
                    left: 2px;
                    top: 35px;
                  }

                  .fourbottom {
                    left: 27px;
                    top: 60px;
                  }
                  .fourleft {
                    left: 0px;
                    top: 30px;
                  }
                  .fourright {
                    left: 53px;
                    top: 30px;
                  }

                  .fivemiddle {
                    left: 25px;
                    top: 40px;
                  }
                  .fivebottom {
                    left: 25px;
                    top: 80px;
                  }
                  .fiveleft {
                    left: -15px;
                    top: 40px;
                  }
                  .fiveright {
                    left: 65px;
                    top: 40px;
                  }

                  .sixtop {
                    left: 20px;
                    top: -35px;
                  }
                  .sixbottom {
                    left: 20px;
                    top: 75px;
                  }

                  .sevenbl {
                    left: -10px;
                    top: 60px;
                  }
                  .seventl {
                    left: -10px;
                    top: 20px;
                  }
                  .eightleft {
                    left: -35px;
                    top: 20px;
                  }
                  .eightright {
                    left: 75px;
                    top: 20px;
                  }




    .top {
      top:0;
    }
    .bottom {
      bottom:0;
    }
    .right {
      right:0;
    }
    .left {
      left:0;
    }
    .lefty {
      left:-30px;
    }






/* Panda Animation */

/* P */
        .animatedTitle .hollowcircle {
          animation: fadeIn 800ms ease-in-out;
          animation-delay: 3000ms;
          opacity: 0;
          animation-fill-mode: forwards;
        }

                @keyframes fadeIn {
                  from {
                    opacity: 0;
                  }
                  to {
                    opacity: 1;
                  }
                }


        .animatedTitle .dot1 {
          animation: dot1move 600ms ease-in-out;
          animation-delay: 2000ms;
        }


            @keyframes dot1move {
              from {
                transform: translate(250px, 0);
              }
              to {
                transform: translate(0, 0);
              }
            }





/* Alphabet Animation */
