*
 {
   padding:0px;
   margin: 0px;

}

  body{ background-color: black;
        height:100vh;
        width:100vw;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;

      }

      section {
          border-bottom: 1px solid black;
          padding: 0rem;
          height: 100vh;
          scroll-snap-align: start;
          text-align: center;
          position: relative;
      }



      .black{
        background-color: black;
        width: 100vw;
        height: 100vh;
        overflow: auto;
 scroll-snap-align: start;
      }


.orange{
  background-color: #aa5b55;
  width: 100vw;
  height: 100vh;
  overflow: auto;
   scroll-snap-align: start;
}
.blue{
  background-color: #2f3c50;
  width: 100vw;
  height: 100vh;
  overflow: auto;
   scroll-snap-align: start;
}
.purple{
  background-color: #6e454a;
  width: 100vw;
  height: 100vh;
  overflow: auto;
   scroll-snap-align: start;
}



      .first {
  background:white;
  background-size: cover;
  height: 100vh;
  width:100vw;
  position: relative;
}


.centerstuff{
  height:100vh;
   display: grid;
   align-items:center;
   justify-content:center;
}



.low {
  top: 65px;
}

.hlow {
  top: 30px;
}

    .hollowcircle{
             width: 25px;
             box-sizing: content-box;
             height: 25px;
             border-color: white;
             border-style: solid;
             border-width: 30px 30px 30px 30px;
             border-radius: 100%;
             position: absolute;
           }

.quartercircle {
    clip-path: inset(0 50px 50px 0);
}
.quartercircle{

                position:absolute;
                width:30px;
                height:30px;
                border-radius:50%;
              }

              .upl{
                transform: rotate(-90deg);
              }
              .upl{
                transform: rotate(-90deg);
                margin-top: -35px;
              }
              .upll{
                transform: rotate(-90deg);
                margin-top: -35px;
                margin-left: 30px;
              }


      .halfcircle{
              content:'';
              position:absolute;
              width:30px;
              height:30px;
              border:30px solid transparent;
              border-top-color:white;
              border-right-color:white;
              transform:rotate(-135deg);
              border-radius:50%;

            }
                .up{
                    transform: rotate(-45deg);
                  }
                  .leftq{
                      transform: rotate(45deg);
                    }
                  .down{
                        transform: rotate(-225deg);
                  }
                  .downhalf{
                        transform: rotate(-180deg);
                  }
                  .upperhalf{
                        margin-top: 50px;
                        margin-left: 25px;
                  }
                  .downy{
                        transform: rotate(-225deg);
                        margin-top: -30px;
                  }
                  .side{
                        transform: rotate(405deg);
                  }
                  .double{
                      margin-left: 60px;
                        transform: rotate(-45deg);
                    }
                    .doubledown{
                        margin-left: 60px;
                          transform: rotate(-225deg);
                      }
                    .downright{
                          transform: rotate(-225deg);
                          margin-left: 35px;
                    }
                    .xright{
                      margin-left: 30px;
                      }
                      .v{
                        margin-top: 25px;

                        }
                        .topofs{
                              transform: rotate(-225deg);

                        }

.movetoright{
  margin-left: -50px;
}


    .circle{
      width: 30px;
      height: 30px;
      border-radius: 100px;
      position: absolute;
      background-color: white;
    }


    .number {
      position:relative;
      height:70px;
      width:70px;
      float:left;
      margin-right: 80px;
      margin-top: 90px;

    }





    .number.one{
      margin-right: 30px;
      margin-top: 120px;
    }
    .number.two{
      margin-right: 30px;
      margin-top: 100px;
    }
    .number.three{

      margin-top: 100px;
    }
    .number.five{
    margin-top: 80px;
    }
    .number.six{
    margin-top: 100px;
    }

    .number.seven{
      margin-right: 110px;
      margin-top: 80px;
    }
    .number.eight{
      margin-right: 100px;
      margin-top: 100px;
    }
    .number.nine{

      margin-top: 80px;
    }










    .letter {
      position:relative;
      height:150px;
      width:115px;
      float:left;
      margin-right: 50px;
      margin-bottom: 100px;
    }
              .letter.t {
                width:140px;
                margin-right: -10px;
              }
            .letter.w {
              width:160px;
            }
            .letter.s {
              width:100px;
            }
            .letter.c {
              width:60px;
            }
            .letter.f {
              width:65px;
              margin-right: 65px;
            }
            .letter.h {
              width:65px;
              margin-left:-55px;
            }
            .letter.small{
              width: 90px;
            }
            .letter.smalln{
              width: 90px;
              margin-top: -5px;
            }
            .letter.space {
            margin-right: 80px;
            }

            .letter.flip{
            -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    filter: FlipH;
                    -ms-filter: "FlipH";
            }
            .letter.flipy{
                  transform: rotate(-180deg);

            }







            .ctop {
              left: 30px;
              top: 60px;
            }
            .cbottom {
              left: 30px;
              top: 120px;
            }
                  .fleft {
                    left: 0px;
                    top: 30px;
                  }
                  .fmiddle {
                    left: 30px;
                    top: 65px;
                  }
                  .emiddle {
                    left: 60px;
                    top: 90px;
                  }
                  .fright {
                    left: 60px;
                    top: 30px;
                  }
                  .gleft {
                    left: 0px;
                    top: 90px;
                  }
                  .gright {
                    left: 60px;
                    top: 90px;
                  }

                  .gmiddle {
                    left: 85px;
                    top:0px;
                  }
                  .hright {
                    left: 60px;
                    top: 90px;
                  }
                  .hleft {
                    left: 0px;
                    top: 90px;
                  }
                  .htop {
                    left: 0px;
                    top: -30px;
                  }

                  .itop {
                    left: 30px;
                    top: 23px;
                  }
                  .itopp {
                    left: 30px;
                    top: 0px;
                  }
                  .jtop {
                    left: 60px;
                    top: 40px;
                  }
                  .jdot {
                    left: 60px;
                    top: 55px;
                  }
                  .ktop {
                    left: 55px;
                    top: 60px;
                  }
                  .kbottom {
                    left: 55px;
                    top: 120px;
                  }
                  .lbottom {
                    left: 25px;
                    top: 119px;
                  }
                  .ltop {
                    left: 1px;
                    top: 96px;
                  }


                  .mright {
                    left: 120px;
                    top: 90px;
                  }
                  .mbright {
                    left: 120px;
                    top: 125px;
                  }
                  .mlleft {
                    left: 0px;
                    top: 125px;
                  }
                  .nright{
                    left: 60px;
                    top: 125px;
                  }
                  .qleft {
                    left: 35px;
                    top: 90px;
                  }
                  .qright {
                    left: 95px;
                    top: 90px;
                  }
                  .qbottom {
                    left: 50px;
                    top: 119px;
                  }
                  .qtop {
                    left: 30px;
                    top: 96px;
                  }
                  .sleft {
                    left: 0px;
                    top: 90px;
                  }
                  .sright {
                    left: 60px;
                    top: 90px;
                  }
                  .smiddle {
                    left: 30px;
                    top: 60px;
                  }
                  .sbottom {
                    left: 35px;
                    top: 119px;
                  }
                  .stop {
                    left: 59px;
                    top: 96px;
                  }
                  .srdot {
                    left: 50px;
                    top: 50px;
                  }
                  .sldot {
                    left: 25px;
                    top: 75px;
                  }
                  .tright {
                    left: 25px;
                    top: 25px;
                  }
                  .tside {
                    left: -30px;
                    top: 25px;
                  }
                  .finalsdot {
                    left: 85px;
                    top: 45px;
                  }


                  .uright{
                    left: 60px;
                    top: 55px;
                  }
                  .uleft{
                    left: 0px;
                    top: 55px;
                  }
                  .vright {
                    left: 60px;
                    top: 55px;
                  }
                  .vleft {
                    left: 0px;
                    top: 55px;
                  }
                  .wright {
                    left: 120px;
                    top: 55px;
                  }
                  .wleft {
                    left: opx;
                    top: 55px;
                  }
                  .xtop {
                    top: 1200px;
                    left: 60px;
                  }
                  .xbottom {
                    left: 60px;
                    top: 120px;
                  }
                  .xtopl {
                    left: 0px;
                    top: 60px;
                  }
                  .xtopr {
                    left: 60px;
                    top: 60px;
                  }
                  .yright {
                    left: 60px;
                    top: 30px;
                  }
                  .yleft {
                    left: 0px;
                    top: 30px;
                  }
                  .vdot {
                    left: 30px;
                    bottom: 0px;
                  }
/* NUMBERS */
                  .threetop {
                    left: 25px;

                  }
                  .threeright {
                    left: 45px;
                    top: 35px;
                  }
                  .threeleft {
                    left: 5px;
                    top: 35px;
                  }

                  .fourbottom {
                    left: 25px;
                    top: 60px;
                  }
                  .fourleft {
                    left: 0px;
                    top: 30px;
                  }
                  .fourright {
                    left: 50px;
                    top: 30px;
                  }

                  .fivemiddle {
                    left: 25px;
                    top: 40px;
                  }
                  .fivebottom {
                    left: 25px;
                    top: 80px;
                  }
                  .fiveleft {
                    left: -15px;
                    top: 40px;
                  }
                  .fiveright {
                    left: 65px;
                    top: 40px;
                  }

                  .sixtop {
                    left: 20px;
                    top: -35px;
                  }
                  .sixbottom {
                    left: 20px;
                    top: 75px;
                  }
                  .seventl {
                    left: -10px;
                    top: 0px;
                  }
                  .seventlr {
                    left: 60px;
                    top: 20px;
                  }
                  .sevenbl {
                    left: -10px;
                    top: 60px;
                  }
                  .sevenblr {
                    left: 60px;
                    top: 60px;
                  }
                  .seventl {
                    left: -10px;
                    top: 20px;
                  }
                  .eightleft {
                    left: -35px;
                    top: 20px;
                  }
                  .eightright {
                    left: 75px;
                    top: 20px;
                  }
                  .nineleft {
                    left: 5px;
                    top: 5px;
                  }
                  .nineright {
                    left: 45px;
                    top: 5px;
                  }
                  .bnineleft {
                    left: 5px;
                    top: 75px;
                  }
                  .bnineright {
                    left: 45px;
                    top: 75px;
                  }
                  .ninetop {
                    left: 25px;
                    top: -30px;
                  }
                  .ninebottom {
                    left: 25px;
                    top: 110px;
                  }
/* .,?!""  */
                  .commaone {
                    left: 25px;
                    top: 40px;
                  }
                  .commatwo {
                    left: 0px;
                    top: 15px;
                  }
                  .questionmark {
                    left: 55px;
                    top: 60px;
                  }
                  .questionmarkk {
                    left: 55px;
                    top: 0px;
                  }
                  .questiondot {
                    left: 55px;
                    top: 120px;
                  }
                  .questiondott {
                    left: 25px;
                    top: 20px;
                  }


    .top {
      top:0;
    }
    .bottom {
      bottom:0;
    }
    .right {
      right:0;
    }
    .left {
      left:0;
    }
    .lefty {
      left:-30px;
    }






/* Panda Animation */

/* P */
        .animatedTitle .hollowcircle {
          animation: fadeIn 800ms ease-in-out;
          animation-delay: 3000ms;
          opacity: 0;
          animation-fill-mode: forwards;

        }

                @keyframes fadeIn {
                  from {
                    opacity: 0;
                  }
                  to {
                    opacity: 1;
                  }
                }
                .animatedTitle .halfcircle{
                  animation: fadeIn 800ms ease-in-out;
                  animation-delay: 3000ms;
                  opacity: 0;
                  animation-fill-mode: forwards;
                }

                        @keyframes fadeIn {
                          from {
                            opacity: 0;
                          }
                          to {
                            opacity: 1;
                          }
                        }
                .animatedTitle .hleft{
                  animation: fadeIn 800ms ease-in-out;
                  animation-delay: 3000ms;
                  opacity: 0;
                  animation-fill-mode: forwards;
                }

                        @keyframes fadeIn {
                          from {
                            opacity: 0;
                          }
                          to {
                            opacity: 1;
                          }
                        }
                    .animatedTitle .hright{
                      animation: fadeIn 800ms ease-in-out;
                      animation-delay: 3000ms;
                      opacity: 0;
                      animation-fill-mode: forwards;
                    }

                            @keyframes fadeIn {
                              from {
                                opacity: 0;
                              }
                              to {
                                opacity: 1;
                              }
                            }
                            .animatedTitle .blenddot{
                              animation: fadeIn 800ms ease-in-out;
                              animation-delay: 3000ms;
                              opacity: 0;
                              animation-fill-mode: forwards;
                            }

                                    @keyframes fadeIn {
                                      from {
                                        opacity: 0;
                                      }
                                      to {
                                        opacity: 1;
                                      }
                                    }

/* Alphabet Animation */


/* top P */
        .animatedTitle .dot1 {
          animation: dot1move 600ms ease-in-out;
          animation-delay: 1500ms;
            animation-fill-mode: both;
            transition-timing-function: ease-in;
        }


            @keyframes dot1move {
              from {
                transform: translate(355px, -40px);
              }
              to {
                transform: translate(0, 0);
              }
            }

/* Lower P */
                    .animatedTitle .dot2 {
                      animation: dot2move 600ms ease-in-out;
                      animation-delay: 1500ms;
                      animation-fill-mode: both;
                      transition-timing-function: ease-in;
                    }


              @keyframes dot2move {
                from {
                  transform: translate(320px, -140px);
                }
                to {
                  transform: translate(0, 0);
                }
              }
/* 1st A */
              .animatedTitle .dot3 {
                animation: dot3move 600ms ease-in-out;
                animation-delay: 1500ms;
                animation-fill-mode: both;
                transition-timing-function: ease-in;

            }


                  @keyframes dot3move {
                    from {
                      transform:translate(105px, -55px);
                    }
                    to {
                      transform: translate(0, 0);
                    }
                  }


  /* 1st N */
                    .animatedTitle .dot4 {
                      animation: dot4move 600ms ease-in-out;
                      animation-delay: 1500ms;
                      animation-fill-mode: both;
                      transition-timing-function: ease-in;
                    }


                        @keyframes dot4move {
                          from {
                            transform:  translate(45px,-20px);;
                          }
                          to {
                            transform: translate(0, 0);
                          }
                        }
  /* 2nd N */
                    .animatedTitle .dot5 {
                      animation: dot5move 600ms ease-in-out;
                      animation-delay: 1500ms;
                      animation-fill-mode: both;
                      transition-timing-function: ease-in;
                    }


                        @keyframes dot5move {
                          from {
                            transform: translate(5px, -55px);
                          }
                          to {
                            transform: translate(0, 0);
                          }
                        }
/* Top D */
                  .animatedTitle .dot6 {
                    animation: dot6move 600ms ease-in-out;
                    animation-delay: 1500ms;
                    animation-fill-mode: both;
                    transition-timing-function: ease-in;
                  }


                      @keyframes dot6move {
                        from {
                          transform: translate(-180px,-10px);
                        }
                        to {
                          transform: translate(0, 0);
                        }
                      }
/* Bottom D */
                  .animatedTitle .dot7 {
animation: dot7move 600ms ease-in-out;
                    animation-delay: 1500ms;
                    animation-fill-mode: both;
                    transition-timing-function: ease-in;
                  }


                      @keyframes dot7move {
                        from {
                          transform: translate(-160px, -95px);
                        }
                        to {
                          transform: translate(0, 0);
                        }
                      }
  /* Last A */
                    .animatedTitle .dot8 {
animation: dot8move 600ms ease-in-out;
                      animation-delay: 1500ms;
                      animation-fill-mode: both;
                      transition-timing-function: ease-in;
                    }


                        @keyframes dot8move {
                          from {
                            transform: translate(-290px, -75px);
                          }
                          to {
                            transform: translate(0, 0);
                          }
                        }

/* smoggy */
                        /* top s */
                                .animatedTitle .dot9 {
                                  animation: dot9move 600ms ease-in-out;
                                  animation-delay: 1500ms;
                                    animation-fill-mode: both;
                                    transition-timing-function: ease-in;
                                }


                                    @keyframes dot9move {
                                      from {
                                        transform: translate(375px, -55px);
                                      }
                                      to {
                                        transform: translate(0, 0);
                                      }
                                    }

                        /* Lower s */
                                            .animatedTitle .dot10 {
                                              animation: dot10move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                      @keyframes dot10move {
                                        from {
                                          transform: translate(440px, -95px);
                                        }
                                        to {
                                          transform: translate(0, 0);
                                        }
                                      }
                        /* 2nd m */
                                      .animatedTitle .dot11 {
                                        animation: dot11move 600ms ease-in-out;
                                        animation-delay: 1500ms;
                                        animation-fill-mode: both;
                                        transition-timing-function: ease-in;
                                      }


                                          @keyframes dot11move {
                                            from {
                                              transform:translate(210px, -100px);
                                            }
                                            to {
                                              transform: translate(0, 0);
                                            }
                                          }


                          /* 1st m */
                                            .animatedTitle .dot12 {
                                              animation: dot12move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                                @keyframes dot12move {
                                                  from {
                                                    transform:  translate(290px,-60px);;
                                                  }
                                                  to {
                                                    transform: translate(0, 0);
                                                  }
                                                }
                          /* 2nd N */
                                            .animatedTitle .dot13 {
                                              animation: dot13move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                                @keyframes dot13move {
                                                  from {
                                                    transform: translate(-105px, 0px);
                                                  }
                                                  to {
                                                    transform: translate(0, 0);
                                                  }
                                                }
                        /* Top D */
                                          .animatedTitle .dot14 {
                                            animation: dot14move 600ms ease-in-out;
                                            animation-delay: 1500ms;
                                            animation-fill-mode: both;
                                            transition-timing-function: ease-in;
                                          }


                                              @keyframes dot14move {
                                                from {
                                                  transform: translate(-290px,35px);
                                                }
                                                to {
                                                  transform: translate(0, 0);
                                                }
                                              }

    /* boldness be my friend */
                              /* top d */
                                    .animatedTitle .dot15 {
                                      animation: dot15move 600ms ease-in-out;
                                      animation-delay: 1500ms;
                                        animation-fill-mode: both;
                                        transition-timing-function: ease-in;
                                    }


                                        @keyframes dot15move {
                                          from {
                                            transform: translate(465px, 40px);
                                          }
                                          to {
                                            transform: translate(0, 0);
                                          }
                                        }

                            /* Lower d */
                                                .animatedTitle .dot16 {
                                                  animation: dot16move 600ms ease-in-out;
                                                  animation-delay: 1500ms;
                                                  animation-fill-mode: both;
                                                  transition-timing-function: ease-in;
                                                }


                                          @keyframes dot16move {
                                            from {
                                              transform: translate(465px, -80px);
                                            }
                                            to {
                                              transform: translate(0, 0);
                                            }
                                          }
                            /* l */
                                          .animatedTitle .dot17 {
                                            animation: dot17move 600ms ease-in-out;
                                            animation-delay: 1500ms;
                                            animation-fill-mode: both;
                                            transition-timing-function: ease-in;
                                          }


                                              @keyframes dot17move {
                                                from {
                                                  transform:translate(160px, 40px);
                                                }
                                                to {
                                                  transform: translate(0, 0);
                                                }
                                              }


                              /* top d */
                                                .animatedTitle .dot18 {
                                                  animation: dot18move 600ms ease-in-out;
                                                  animation-delay: 1500ms;
                                                  animation-fill-mode: both;
                                                  transition-timing-function: ease-in;
                                                }


                                                    @keyframes dot18move {
                                                      from {
                                                        transform:  translate(-35px,40px);;
                                                      }
                                                      to {
                                                        transform: translate(0, 0);
                                                      }
                                                    }
                              /* lower d */
                                                .animatedTitle .dot19 {
                                                  animation: dot19move 600ms ease-in-out;
                                                  animation-delay: 1500ms;
                                                  animation-fill-mode: both;
                                                  transition-timing-function: ease-in;
                                                }


                                                    @keyframes dot19move {
                                                      from {
                                                        transform: translate(-35px, -80px);
                                                      }
                                                      to {
                                                        transform: translate(0, 0);
                                                      }
                                                    }
                            /* left n */
                                              .animatedTitle .dot20 {
                                                animation: dot20move 600ms ease-in-out;
                                                animation-delay: 1500ms;
                                                animation-fill-mode: both;
                                                transition-timing-function: ease-in;
                                              }


                                                  @keyframes dot20move {
                                                    from {
                                                      transform: translate(-35px,-65px);
                                                    }
                                                    to {
                                                      transform: translate(0, 0);
                                                    }
                                                  }
                              /* right n */
                                            .animatedTitle .dot21 {
                                              animation: dot21move 600ms ease-in-out;
                                              animation-delay: 15000ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                                @keyframes dot21move {
                                                  from {
                                                    transform: translate(-95px,-65px);
                                                  }
                                                  to {
                                                    transform: translate(0, 0);
                                                  }
                                                }
                              /* right e */
                                            .animatedTitle .dot22 {
                                              animation: dot22move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                                @keyframes dot22move {
                                                  from {
                                                    transform: translate(-235px,-30px);
                                                  }
                                                  to {
                                                    transform: translate(0, 0);
                                                  }
                                                }
                          /* right s1 top */
                                        .animatedTitle .dot23 {
                                          animation: dot23move 600ms ease-in-out;
                                          animation-delay: 1500ms;
                                          animation-fill-mode: both;
                                          transition-timing-function: ease-in;
                                        }


                                            @keyframes dot23move {
                                              from {
                                                transform: translate(-400px, -25px);
                                              }
                                              to {
                                                transform: translate(0, 0);
                                              }
                                            }
                        /* right s1 bottom */
                                      .animatedTitle .dot24 {
                                        animation: dot24move 600ms ease-in-out;
                                        animation-delay: 1500ms;
                                        animation-fill-mode: both;
                                        transition-timing-function: ease-in;
                                      }


                                          @keyframes dot24move {
                                            from {
                                              transform: translate(-315px, -100px);
                                            }
                                            to {
                                              transform: translate(0, 0);
                                            }
                                          }
                    /* right s2 top */
                                  .animatedTitle .dot25 {
                                    animation: dot25move 600ms ease-in-out;
                                    animation-delay: 1500ms;
                                    animation-fill-mode: both;
                                    transition-timing-function: ease-in;
                                  }


                                      @keyframes dot25move {
                                        from {
                                          transform: translate(-550px, -25px);
                                        }
                                        to {
                                          transform: translate(0, 0);
                                        }
                                      }
                  /* right s2 bottom */
                                .animatedTitle .dot26 {
                                  /* animation: dot26move 600ms ease-in-out; */
                                  animation-delay: 1500ms;
                                  animation-fill-mode: both;
                                  transition-timing-function: ease-in;
                                }
        .animatedTitle.run .dot26 {
          animation: dot26move 600ms ease-in-out;
        }


                                    @keyframes dot26move {
                                      from {
                                        transform: translate(-465px, -100px);
                                      }
                                      to {
                                        transform: translate(0, 0);
                                      }
                                    }

/* friend */
                      /* top d */
                                .animatedTitle .dot27 {
                                  animation: dot27move 600ms ease-in-out;
                                  animation-delay: 1500ms;
                                    animation-fill-mode: both;
                                    transition-timing-function: ease-in;
                                }


                                    @keyframes dot27move {
                                      from {
                                        transform: translate(-390px, -30px);
                                      }
                                      to {
                                        transform: translate(0, 0);
                                      }
                                    }

                        /* Lower d */
                                            .animatedTitle .dot28 {
                                              animation: dot28move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                      @keyframes dot28move {
                                        from {
                                          transform: translate(-370px, -115px);
                                        }
                                        to {
                                          transform: translate(0, 0);
                                        }
                                      }
                        /* right n */
                                      .animatedTitle .dot29 {
                                        animation: dot29move 600ms ease-in-out;
                                        animation-delay: 1500ms;
                                        animation-fill-mode: both;
                                        transition-timing-function: ease-in;
                                      }


                                          @keyframes dot29move {
                                            from {
                                              transform:translate(-180px, -85px);
                                            }
                                            to {
                                              transform: translate(0, 0);
                                            }
                                          }


                          /* left n */
                                            .animatedTitle .dot30 {
                                              animation: dot30move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                                @keyframes dot30move {
                                                  from {
                                                    transform:  translate(-140px,-50px);
                                                  }
                                                  to {
                                                    transform: translate(0, 0);
                                                  }
                                                }
                          /* e */
                                            .animatedTitle .dot31 {
                                              animation: dot31move 600ms ease-in-out;
                                              animation-delay: 1500ms;
                                              animation-fill-mode: both;
                                              transition-timing-function: ease-in;
                                            }


                                                @keyframes dot31move {
                                                  from {
                                                    transform: translate(-85px, 15px);
                                                  }
                                                  to {
                                                    transform: translate(0, 0);
                                                  }
                                                }
                        /* i */
                                          .animatedTitle .dot32 {
                                            animation: dot32move 600ms ease-in-out;
                                            animation-delay: 1500ms;
                                            animation-fill-mode: both;
                                            transition-timing-function: ease-in;
                                          }


                                              @keyframes dot32move {
                                                from {
                                                  transform: translate(70px, -20px);
                                                }
                                                to {
                                                  transform: translate(0, 0);
                                                }
                                              }
                          /* r */
                                        .animatedTitle .dot33 {
                                          animation: dot33move 600ms ease-in-out;
                                          animation-delay: 1500ms;
                                          animation-fill-mode: both;
                                          transition-timing-function: ease-in;
                                        }


                                            @keyframes dot33move {
                                              from {
                                                transform: translate(235px,-85px);
                                              }
                                              to {
                                                transform: translate(0, 0);
                                              }
                                            }
                          /* right f1 */
                                        .animatedTitle .dot34 {
                                          animation: dot34move 600ms ease-in-out;
                                          animation-delay: 1500ms;
                                          animation-fill-mode: both;
                                          transition-timing-function: ease-in;
                                        }


                                            @keyframes dot34move {
                                              from {
                                                transform: translate(310px,10px);
                                              }
                                              to {
                                                transform: translate(0, 0);
                                              }
                                            }
                      /* right f2 top */
                                    .animatedTitle .dot35 {
                                      animation: dot35move 600ms ease-in-out;
                                      animation-delay: 1500ms;
                                      animation-fill-mode: both;
                                      transition-timing-function: ease-in;
                                    }


                                        @keyframes dot35move {
                                          from {
                                            transform: translate(320px, -85px);
                                          }
                                          to {
                                            transform: translate(0, 0);
                                          }
                                        }
                    /* t b */
                                  .animatedTitle .dot36 {
                                    animation: dot36move 600ms ease-in-out;
                                    animation-delay: 1500ms;
                                    animation-fill-mode: both;
                                    transition-timing-function: ease-in;
                                  }


                                      @keyframes dot36move {
                                        from {
                                          transform: translate(130px, 0px);
                                        }
                                        to {
                                          transform: translate(0, 0);
                                        }
                                      }
                /* l b */
                              .animatedTitle .dot37 {
                                animation: dot37move 600ms ease-in-out;
                                animation-delay: 1500ms;
                                animation-fill-mode: both;
                                transition-timing-function: ease-in;
                              }


                                  @keyframes dot37move {
                                    from {
                                      transform: translate(110px, -85px);
                                    }
                                    to {
                                      transform: translate(0, 0);
                                    }
                                  }
              /* e */
                            .animatedTitle .dot38 {
                              animation: dot38move 600ms ease-in-out;
                              animation-delay: 1500ms;
                              animation-fill-mode: both;
                              transition-timing-function: ease-in;
                            }


                                @keyframes dot38move {
                                  from {
                                    transform: translate(-75px, -55px);
                                  }
                                  to {
                                    transform: translate(0, 0);
                                  }
                                }

/* My */
            /* l m */
                          .animatedTitle .dot39 {
                            animation: dot39move 600ms ease-in-out;
                            animation-delay: 1500ms;
                            animation-fill-mode: both;
                            transition-timing-function: ease-in;
                          }


                              @keyframes dot39move {
                                from {
                                  transform: translate(-70px, -125px);
                                }
                                to {
                                  transform: translate(0, 0);
                                }
                              }
            /* rm */
                        .animatedTitle .dot40 {
                          animation: dot40move 600ms ease-in-out;
                          animation-delay: 1500ms;
                          animation-fill-mode: both;
                          transition-timing-function: ease-in;
                        }


                            @keyframes dot40move {
                              from {
                                transform: translate(50px, -85px);
                              }
                              to {
                                transform: translate(0, 0);
                              }
                            }
                            /* r */
                                          .animatedTitle .dot41 {
                                            animation: dot41move 600ms ease-in-out;
                                            animation-delay: 1500ms;
                                            animation-fill-mode: both;
                                            transition-timing-function: ease-in;
                                          }


                                              @keyframes dot41move {
                                                from {
                                                  transform: translate(40px, -65px);
                                                }
                                                to {
                                                  transform: translate(0, 0);
                                                }
                                              }
                            /* n */
                                        .animatedTitle .dot42 {
                                          animation: dot42move 600ms ease-in-out;
                                          animation-delay: 1500ms;
                                          animation-fill-mode: both;
                                          transition-timing-function: ease-in;
                                        }


                                            @keyframes dot42move {
                                              from {
                                                transform: translate(-140px, -100px);
                                              }
                                              to {
                                                transform: translate(0, 0);
                                              }
                                            }
                                            /* n */
                                                        .animatedTitle .dot43 {
                                                          animation: dot43move 600ms ease-in-out;
                                                          animation-delay: 1500ms;
                                                          animation-fill-mode: both;
                                                          transition-timing-function: ease-in;
                                                        }


                                                            @keyframes dot43move {
                                                              from {
                                                                transform: translate(-60px, -65px);
                                                              }
                                                              to {
                                                                transform: translate(0, 0);
                                                              }
                                                            }





/*
.dot1 {transform: translate(338.594px, -61.75px);}
.dot2 {transform: translate(340.406px, -16.75px);}
.dot3 {transform: translate(84.406px, -18.25px);}
.dot4 {transform: translate(-48.25px,-21.406px);}
.dot5 {transform: translate(-156.406px, -18.25px);}
.dot6 {transform: translate(-212.594px, 84.75px);}
.dot7 {transform: translate(-152.594px, -43.25px);}
.dot8 {transform: translate(-280px, -18.25px);}*/

#spinny {

  transform-origin: 48.5% 0% ;

}
.run #spinny {
  animation: spins ease-in-out 1000ms;
}

#spinny2 {

  transform-origin: 48.25% 24.75% ;

}
.run #spinny2 {
  animation: spins ease-in-out 1000ms;
}

#spinny3 {

  transform-origin: 53.25% 15.5% ;

}
.run #spinny3 {
  animation: spins ease-in-out 1000ms;
}

#spinny4 {

  transform-origin: 50% 38% ;

}
.run #spinny4 {
  animation: spins ease-in-out 1000ms;
}

@keyframes spins {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}


/*
#rollOverLetters .hollowcircle {
transition: all 400ms ease-out;

}
#rollOverLetters .letter:hover .hollowcircle {
  border-color:red;
}

#rollOverLetters .letter:hover .circle {
  background:red;
}

#rollOverLetters .letter:hover .halfcircle {
  border:30px solid transparent;
  border-top-color:red;
  border-right-color:red;
} */





.animatedTitle .dot1,
.animatedTitle .dot2,
.animatedTitle .dot3,
.animatedTitle .dot4,
.animatedTitle .dot5,
.animatedTitle .dot6,
.animatedTitle .dot7,
.animatedTitle .dot8,
.animatedTitle .dot9,
.animatedTitle .dot10,
.animatedTitle .dot11,
.animatedTitle .dot12,
.animatedTitle .dot13,
.animatedTitle .dot14,
.animatedTitle .dot15,
.animatedTitle .dot16,
.animatedTitle .dot17,
.animatedTitle .dot18,
.animatedTitle .dot19,
.animatedTitle .dot20,
.animatedTitle .dot21,
.animatedTitle .dot22,
.animatedTitle .dot23,
.animatedTitle .dot24,
.animatedTitle .dot25,
.animatedTitle .dot26,
.animatedTitle .dot27,
.animatedTitle .dot28,
.animatedTitle .dot29,
.animatedTitle .dot30,
.animatedTitle .dot31,
.animatedTitle .dot32,
.animatedTitle .dot33,
.animatedTitle .dot34,
.animatedTitle .dot35,
.animatedTitle .dot36,
.animatedTitle .dot37,
.animatedTitle .dot38,
.animatedTitle .dot39,
.animatedTitle .dot40,
.animatedTitle .dot41,
.animatedTitle .dot42,
.animatedTitle .dot43,
.animatedTitle .hollowcircle,
.animatedTitle .halfcircle,
.animatedTitle .blenddot,
.animatedTitle .hright,
.animatedTitle .hleft
{

animation-play-state: paused;
}
.animatedTitle.run .dot1,
.animatedTitle.run .dot2,
.animatedTitle.run .dot3,
.animatedTitle.run .dot4,
.animatedTitle.run .dot5,
.animatedTitle.run .dot6,
.animatedTitle.run .dot7,
.animatedTitle.run .dot8,
.animatedTitle.run .dot9,
.animatedTitle.run .dot10,
.animatedTitle.run .dot11,
.animatedTitle.run .dot12,
.animatedTitle.run .dot13,
.animatedTitle.run .dot14,
.animatedTitle.run .dot15,
.animatedTitle.run .dot16,
.animatedTitle.run .dot17,
.animatedTitle.run .dot18,
.animatedTitle.run .dot19,
.animatedTitle.run .dot20,
.animatedTitle.run .dot21,
.animatedTitle.run .dot22,
.animatedTitle.run .dot23,
.animatedTitle.run .dot24,
.animatedTitle.run .dot25,
.animatedTitle.run .dot26,
.animatedTitle.run .dot27,
.animatedTitle.run .dot28,
.animatedTitle.run .dot29,
.animatedTitle.run .dot30,
.animatedTitle.run .dot31,
.animatedTitle.run .dot32,
.animatedTitle.run .dot33,
.animatedTitle.run .dot34,
.animatedTitle.run .dot35,
.animatedTitle.run .dot36,
.animatedTitle.run .dot37,
.animatedTitle.run .dot38,
.animatedTitle.run .dot39,
.animatedTitle.run .dot40,
.animatedTitle.run .dot41,
.animatedTitle.run .dot42,
.animatedTitle.run .dot43,
.animatedTitle.run .hollowcircle,
.animatedTitle.run .halfcircle,
.animatedTitle.run .blenddot,
.animatedTitle.run .hright,
.animatedTitle.run .hleft

{
animation-play-state: running;
}
