/* CSS files add styling rules to your content */

*{margin:0px;
  padding: 0px;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}
h1 {
  font-family: lunatix,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;


}


@-webkit-keyframes textan {
  /* from {top: 0px;}
  to {top: 200px; background-color: blue;} */

}

.nameintro {

  text-align: center;
  -webkit-animation: textan 5s ;
  -webkit-animation: textan 5s ;


}
.art{
  /* width:300px; */
-webkit-animation: mymove 3s ;
-webkit-animation: mymove 3s ;
animation-fill-mode: forwards;
  animation-iteration-count: 1;
text-align: center;
filter: saturate(150%);

}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {-webkit-transform: rotate(0deg);}
  50% {
    -webkit-transform: rotate(360deg);

  }

  to {-webkit-transform: translateX(-625px);}
  100% {
    -webkit-transform: rotate(-625px);

  }
}



/* Standard syntax */



canvas{
  margin:auto;
  display: block;
}


@media only screen and (max-width: 600px) {

  .art{
  margin: 0 auto 0 auto;
  transform: scaleX(40%);
  }
}
