*
 {
   padding:0px;
   margin: 0px;}

  body{ background-color: white;
        height:100vh;
        width:100vw;


      }




    .letter {
             position:relative;
             float:left;
             width:150px;
             height:150px;
             border-radius: 100px;
             margin-right:10px;
             background: black;
             /*   margin-bottom:100px; */
             }
