* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	font-weight: normal;
	background-image: linear-gradient(#efe7dc, #d5bdcb);
	width: 100vw;
	height: 100vh;
}

/* this is a comment */

#container {
	width:500px;
	margin: 0 auto;
}

#exercises, #projects {
	margin: 40px 0px;
}

h1 {
	color:#60393c;
	font-family: mrs-eaves-xl-serif, serif;

	font-weight: 100;

	font-style: normal;

		margin-top: 100px;
		margin-left:-500px;

	    font-size:20pt;
			letter-spacing: 5px;

}
h2 {
	color:#60393c;
	font-family: mrs-eaves-xl-serif, serif;

	font-weight: 100;

	font-style: normal;

margin-top: 50px;
margin-bottom: 10px;
margin-left: -20px;
	    font-size:15pt;
			letter-spacing:8px;

}

h3  {
	font-family: zeitung, sans-serif;

	font-weight: 400;

	font-style: normal;

    font-size:10pt;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: -20px;
}

h4{
	font-family: zeitung, sans-serif;

	font-weight: 400;

	font-style: normal;

		font-size:10pt;
		margin-top: 10px;
		margin-left:-500px;
		margin-bottom: 50px;

}

p {
	margin: 20px 0;
	font-size:14pt;
	line-height: 150%;
}

ul {
	list-style-type: none;
}

a {
	color:black;
}

a:hover {
	color: #8f5970;
	letter-spacing: 5px;


}
